{{#ifCond entitytype "===" "http://www.w3.org/2004/02/skos/core#Concept"}}
  [[> rsp:ConceptForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E4_Period"}}
   [[> rsp:PeriodForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.researchspace.org/vocab/category/ancient_period"}}
   [[> rsp:AncientPeriodForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E39_Actor"}}
   [[> rsp:ActorForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E21_Person"}}
   [[> rsp:ActorForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E53_Place"}}
   [[> rsp:PlaceForm]]
{{/ifCond}}