{{#if new}}
  {{#if broader}}
      <h1 style="margin-bottom: 1em;">Adding: <strong>new term narrower to <mp-label iri='{{broader}}'></mp-label></strong></h1>
  {{else}}
      <h1 style="margin-bottom: 1em;">Adding: <strong>new term</strong></h1>
  {{/if}}
{{/if}}

{{#if edit}}<h1>Editing term: <strong><mp-label iri='{{node}}'></mp-label></strong></h1>
  <div style="margin-bottom: 1.2em;">Term IRI: {{node}}
  </div>
{{/if}}

{{#ifCond entitytype "===" "http://www.w3.org/2004/02/skos/core#Concept"}}
  [[> rsp:ConceptForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E4_Period"}}
   [[> rsp:PeriodForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E39_Actor"}}
   [[> rsp:ActorForm]]
{{/ifCond}}

{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E21_Person"}}
   [[> rsp:ActorForm]]
{{/ifCond}}


{{#ifCond entitytype "===" "http://www.cidoc-crm.org/cidoc-crm/E53_Place"}}
   [[> rsp:PlaceForm]]
{{/ifCond}}
