<semantic-form id='vocab-form' 
               persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
               new-subject-template='{{#if new}}http://www.researchspace.org/entity/E4_Period/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
               subject='{{#if edit}}{{node}}{{/if}}'
               post-action="event"
               fields='[[
                fieldDefinitions
                  inScheme="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
                  rdfsLabel="http://www.w3.org/2000/01/rdf-schema#label"
                  broader="http://www.cidoc-crm.org/cidoc-crm/P10_falls_within"
                  narrower="http://www.cidoc-crm.org/cidoc-crm/P10i_contains"
                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  scopeNote="http://www.cidoc-crm.org/cidoc-crm/P3_has_note"
                  P138i_has_representation="http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation"
               ]]'
>

  <div class="form-scroll-area">

    <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"> </semantic-form-hidden-input>  
    
    <semantic-form-text-input for="rdfsLabel"> </semantic-form-text-input>
    {{#if broader}}
      <semantic-form-autocomplete-input for="broader" placeholder="drag from tree" default-values='["{{broader}}"]'></semantic-form-autocomplete-input>
    {{else}}
      <semantic-form-autocomplete-input for="broader" placeholder="drag from tree"></semantic-form-autocomplete-input>
    {{/if}}
    <semantic-form-autocomplete-input for="narrower" placeholder="drag from tree"></semantic-form-autocomplete-input>
    <semantic-form-text-input for="scopeNote" multiline=true> </semantic-form-text-input>
    <semantic-form-autocomplete-input for="P138i_has_representation"></semantic-form-autocomplete-input>
    <semantic-form-hidden-input for="classtype" default-values='["http://www.cidoc-crm.org/cidoc-crm/E4_Period"]'></semantic-form-hidden-input>
   
    <semantic-form-errors></semantic-form-errors>
    <!-- save and reset button for form -->

  </div>

  <div class="btn-group">
    <div>
    {{#if edit}}
      <mp-event-trigger id='form-new-trigger' type='Component.TemplateUpdate' data='{"scheme": "[[this]]", "broader": "{{node}}", "new": true, "entitytype":"http://www.cidoc-crm.org/cidoc-crm/E4_Period" }' targets='["term-forms"]'>
        <button name="add" class="btn btn-grey">Add narrower term</button>
      </mp-event-trigger>
    {{/if}}
    </div>
    <div>  
      <button name="reset" class="btn btn-default">Reset</button>
      <mp-ldp-remove-from-container-action
                                       iri='{{node}}/container'
                                       container='http://www.researchspace.org/resource/system/formContainer'>
        <button type="button" name='delete' class="btn btn-grey btn-danger" title="Delete">
          Delete
        </button>
      </mp-ldp-remove-from-container-action>
      <button name="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</semantic-form>