<mp-event-proxy id='tree-refresh' on-event-source='vocab-form' proxy-event-type='Component.Refresh' proxy-targets='["mytree"]'></mp-event-proxy>

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link iri='[[resolvePrefix "rsp:VocabularyManager"]]'>Vocabulary Manager</semantic-link>
    </li>
  <li class="active">
    Scheme: <mp-label iri='[[this]]'></mp-label> 
  </li>
</ol>

<div class="page">
[[#>rsp:ClipboardSidebar]]
[[#>rsp:DetailsSidebar]]

[[#> rsp:VocabularyContentTemplate title="Vocabulary" entitytype="http://www.w3.org/2004/02/skos/core#Concept"]]
    [[#partial "lazyTreeConfig"]]      
      <semantic-lazy-tree id='scheme-tree' info-template='{{> template}}' type='simple' 
            config='{"scheme": "[[this]]", 
                      "schemePattern": "?item <http://www.w3.org/2004/02/skos/core#inScheme> ?__scheme__",
                      "relationPattern": "?item <http://www.w3.org/2004/02/skos/core#broader> ?parent"}'>
          <template id='template'>
            <span class="tree-item-actions-container">
              <mp-event-trigger id='form-edit-trigger' type='Component.TemplateUpdate'
                                data='{"scheme": "[[this]]", "node":"{{iri}}",  "edit": true, "entitytype":"http://www.w3.org/2004/02/skos/core#Concept" }' targets='["term-forms"]'>
                <span class='tree-item-action' style="margin-right: 7px;"><i class='fa fa-pencil' title="Edit term"></i></span>
              </mp-event-trigger>
              <mp-event-trigger id='form-new-trigger' type='Component.TemplateUpdate' data='{"scheme": "[[this]]", "broader": "{{iri}}", "new": true, "entitytype":"http://www.w3.org/2004/02/skos/core#Concept" }' targets='["term-forms"]'>
                <span class='tree-item-action'><i class='fa fa-plus' title="Add narrower term"></i></span>
              </mp-event-trigger>
            </span>
          </template>
      </semantic-lazy-tree>    
    [[/partial]]
[[/rsp:VocabularyContentTemplate]]

[[/rsp:DetailsSidebar]]
[[/rsp:ClipboardSidebar]]
</div>